footer {
  list-style: none;
  padding: 10px;
  font-size: 25px;
  display: block;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

https://github.com/denskiz/exercise-tracker/blob/master/models/UserModel.js